*{
    padding: 0;
    margin: 0;
}
ul,li,ol{
    list-style: none;
}
a{
    text-decoration:none;
    color:#000;
}
.clear:after{
    content:"";
    display: block;
    clear: both;
    height:0;
}
select{
    border:0px;
}
body{
    width:1920px;
    margin:0 auto;
}
body p,ul{
    font-size:16px;
}
.header{
    width:100%;
    height:36px;
    line-height:36px;
    background-color:#fff;
}
.header span{
    font-size: 14px;
    margin-left: 885px;
}
.header img{
   margin:10px 0 0 10px;
}
.my{
    display:inline-block;
    margin-left:40px;
}
.maicai{
    border:0;
}   
.header img{
    margin:10px 12px 0 0; 
}
.header a{
    color: #000;
    font:bold;
    font-size:14px;
    margin: 0px 14px 0px 0px;
}
.search>span>img{
    margin-left:350px;
    margin-top:30px;
}
.search>img{
    margin-left:150px;
    margin-top: 55px;
}
.sousuo{
    display:inline-block;
    margin-left:175px;
    margin-top: 45px;
}
#text{
    text-indent:2em;
    width:540px;
    height:50px;
     border:1px solid black;
}
#fangda{
    width:60px;
    height:50px;
    border:1px solid black;
    position: relative;
    bottom:-21px;
    right:4px;
}
/* 导航 */
.nav{
    width: 1200px;
    height: 45px;
    margin: 0 auto;
}
.nav form{
    font:15px "微软雅黑" black;
}
.xialalist{
    float:left;
    margin-top:10px;
}
.xialalist select{
    text-decoration:bold;
}
.nav li{
    width:80px;
    height:43px;
    text-align:center;
    float:left;
    font-size:15px;
    line-height: 43px;
}
.nav li:hover{
   color:green;
   border-bottom:2px solid #3aa747;
}
/* banner */
.banner{
    width: 100%;
    height:670px;
    background-image: url(所需小图/banner.png);
    border-top:4px solid #3aa747;
}
/* 主体部分 */
.main{
    width: 1190px;
    height: 618px;
    margin: 0 auto;
}
.main-wrap{
    height:1015px;
    width:1190px;
    margin:0 auto;
}
.main-wrap a{
    font-size:14px;
}
.crumb{
    height: 63px;
    margin-left:25px; 
    margin-top:20px;
}
.crumb p{
    line-height: 40px;
    color:#5c5a5a;
    float:right;
}
.crumb a{
    font-size: 18px;
    color:#5c5a5a;
    position:relative;
    left:25px;
}
.first{
    width:1198px;
    height:45px;
    border:1px solid #ccc;
    color:#737373;
}
.first li{
     float: left;
     width:110px;
     height:47px;
    text-align: center;
    line-height: 47px;
}
.a1{
    background-color:#e5e5e5;
}
.more{
    float:right;
}
.shop-main{
    height:653px;
    margin:60px 0 0 10px;
}
.shop-main li{
    float: left;
    border:1px solid #888;
    width:270px;
    height: 290px;
}
.p1,.p2,.p3,.p5,.p6,.p7{
    margin:0 32px 35px 0;
}
.p4,.p8{
    margin-bottom:35px;
}
.p1{
    background-image:url(所需小图/img1.png);
    background-repeat: no-repeat;
    background-position:center center;
    position: relative;
}
.p2{
    background-image:url(所需小图/img2.png); 
    background-repeat: no-repeat;
    background-position:center center;
    position: relative;
}
.p3{
    background-image:url(所需小图/img3.png); 
    background-repeat: no-repeat;
    background-position:center center;
    position: relative;
}
.p4{
    background-image:url(所需小图/img4.png); 
    background-repeat: no-repeat;
    background-position:center center;
}
.p5{
    background-image:url(所需小图/img5.png); 
    background-repeat: no-repeat;
    background-position:center center;
}
.p6{
    background-image:url(所需小图/img6.png); 
    background-repeat: no-repeat;
    background-position:center center;
}
.p7{
    background-image:url(所需小图/img7.png); 
    background-repeat: no-repeat;
    background-position:center center;
}
.p8{
    background-image:url(所需小图/img8.png); 
    background-repeat: no-repeat;
    background-position:center center;
}
.hidden{
    display:none;
    background-color: rgba(76,76,76,0.5);
    width:275px;
    height:290px;
    text-align: center;
    color:white;
}
.hi{
    padding:40px;
}
.display{
    background-color: rgba(76,76,76,0.5);
    width:271px;
    height:52px;
    text-align: center;
    color:white;
    position:relative;
    top:240px;
    float:left;
}
.display:hover{
    opacity: 0;
}
.display:hover .hidden{
    display:block;
    background-color: rgba(76,76,76,0.5);
    width:275px;
    height:290px;
    text-align: center;
    color:white;
}
.white
{
    width:1920px;
    background-color:#f5f5f5;
    height:102px;
    text-align: center;
}
.white ul{
    width:1198px;
    margin:0 auto;
}
.white li{
    float:left;
    width: 291px;
}
.white img{
    margin:25px 20px 25px 30px;
    float:left;
}
.white p{
    font-size:19px;
    margin-top:27px;
    width:192px;
}
.white{
    font-size: 13px;
}
.black{
    width:1920px;
    background-color:#323232;
    height:100px;
   text-align: center;
}
.black p{
    padding-top:25px;
    color: #fff;
}
.black a{
    color:#fff;
}
.fix{
    position: fixed;
    right: 0px;
    top:191px;
}
.fix li{
    width:80px;
    height:120px;
    background-color: #010807;
    border-bottom:2px solid #575c5a;
}
.fix img{
    margin-left: 25px;
    margin-top:40px;
}